@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
    color-scheme: light;
    forced-color-adjust: none;
}

.dark {
    color-scheme: dark;
}

#buttons div {
    @apply flex justify-center items-center border-2 border-black rounded-xl w-20 h-20 shadow-md shadow-black p-4 bg-white text-3xl font-semibold transition-all cursor-pointer
}
#buttons div:hover {
    @apply shadow-lg -translate-y-0.5
}
#buttons div:active {
    @apply shadow-sm translate-y-1
}

#top-buttons {
    @apply flex gap-10 mt-10 
}

#numbers section {
    @apply flex
}
