@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
    color-scheme: light;
    forced-color-adjust: none;
}

.dark {
    color-scheme: dark;
}

main, #buttons {
    @apply flex flex-col justify-evenly md:justify-center
}

#buttons div {
    @apply flex justify-center items-center border-2 border-black rounded-xl w-18 h-18 md:w-20 md:h-20 shadow-md shadow-black p-4 bg-white dark:bg-gray-300 text-black text-2xl md:text-3xl font-semibold transition-all cursor-pointer
}
#buttons div:hover {
    @apply shadow-lg -translate-y-0.5
}
#buttons div:active {
    @apply shadow-sm translate-y-1
}

#top-buttons {
    @apply flex gap-10 md:mt-10 
}
#top-buttons div {
    @apply bg-blue-300 dark:bg-blue-500
}

#symbols div,
#numbers .plus-btn,
#numbers #dot {
    @apply bg-blue-200 dark:bg-blue-400
}
#symbols .eq-btn {
    @apply bg-blue-400 dark:bg-blue-600
}

#numbers, 
#symbols {
    @apply flex flex-col gap-6 mt-6
}
#numbers section {
    @apply flex gap-6
}

#mode-btn {
    @apply transition-all rounded-full bg-gray-300/50 fill-black p-2
}
#mode-btn:hover {
    @apply shadow-lg -translate-y-0.5
}
#mode-btn:active {
    @apply shadow-sm translate-y-1
}

.hide {
    display: none;
}
