@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
    color-scheme: light;
    forced-color-adjust: none;
}

.dark {
    color-scheme: dark;
}

#buttons div {
    @apply flex justify-center items-center border-2 border-black rounded-xl w-20 h-20 shadow-md shadow-black m-3 p-4 bg-white text-3xl font-semibold
}
